/*  your css code here. If applicable */
td{
	border:1px solid gray;
	padding:10px;
	border-radius:10px;
	
}
th{
	border:1px solid gray;
	padding:10px;
		border-radius:10px;
}
.bg{
	background-color:whitesmoke;
}